.copyright {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: var(--main-color);
  color: #fff;
}