.introduce {
  width: 100%;
  height: 500px;
  background: #F6F6F6;

  .content {
    display: flex;
    align-items: center;
  }

  &__image, &__content {
    flex: 1 0 50%;
  }

  @media (max-width: 1225px) {
    height: fit-content;
    padding: 50px 0px;

    .content {
      flex-direction: column;
    }

    &__image, &__content {
      flex: none;
    }

    &__image {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 540px) {
    &__image {
      display: none;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: var(--second-color);
  }

  &__description {
    margin-top: 24px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color);
  }

  p:not(:last-child) {
    margin-bottom: 24px;
  }
}