.products {
  padding: 90px 0px;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: var(--second-color);
    margin-bottom: 50px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }
}

.card {
  width: 360px;

  &__title {
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: var(--main-color);
  }

  &__text {
    width: 310px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color);
    margin-top: 16px;
  }

  &__button {
    width: 119px;
    height: 42px;
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 150%;
  }
}